/* Login Page */
.login-page {
  @apply min-h-screen flex w-full h-full relative;
}
.login-movie {
  @apply absolute top-0 left-0 w-full h-full;
  background: url('/videos/bg-movie.png') no-repeat center center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  video {
    @apply w-full h-full object-cover;
  }
}
.login-wrap {
  @apply w-full h-dvh relative flex items-center justify-center gap-[105px];
  width: 1920px;
  margin: 0 auto;
  .login-content {
    @apply text-white font-bold flex flex-col gap-6;
    width: 985px;
    padding-bottom: 50px;
    text-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
    h1 {
      font-size: 78px;
      line-height: 120%;
    }
    p {
      font-size: 39px;
      line-height: 110%;
    }
  }
  .login-modal-content {
    position: relative;
    height: 630px;
    width: 570px;
    padding: 60px 75px 50px 75px;
    h2 {
      @apply h-11 font-bold;
      font-size: 32px;
      line-height: 110%;
    }
    .text {
      @apply text-lg font-semibold mb-6;
    }
  }
  .login-footer {
    @apply absolute flex justify-between items-center bottom-0 left-0 w-full px-25 py-10 text-white font-medium text-xs;
    p {
      line-height: 160%;
    }
  }
  .sns-login {
    @apply flex flex-col items-center justify-center gap-2 mt-7;
    p {
      @apply font-semibold;
    }
  }
  .email-signup {
    @apply flex justify-center mt-5;
    button {
      @apply flex items-center justify-center h-[25px] px-7.5;
      border: 1px solid #000;
      font-size: 15px;
    }
  }
  .customer-service {
    @apply flex justify-center mt-5;
    font-size: 13px;
  }
  .ant-btn.login-button {
    @apply rounded-4xl h-[50px] w-full text-lg mt-6 font-semibold;
    background-color: #262626;
  }
  .login-options {
    @apply flex items-center justify-between;
    .remember-checkbox {
      label {
        font-size: 15px;
      }
      .ant-checkbox-label {
        padding: 0 5px !important;
      }
    }
    .forgot-password {
      button {
        font-size: 15px;
      }
    }
  }
  .sns-buttons {
    @apply flex items-center justify-center gap-5;
    & > button {
      @apply relative;
      span {
        @apply absolute hidden;
        font-size: 15px;
        right: 12px;
        top: -5px;
        z-index: 1;
        color: #fff;
        img {
          max-width: 80px !important;
        }
      }
      &.last-login {
        span {
          display: block;
        }
      }
    }
  }
  .join-success {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: -60px;
    width: 405px;
    height: 96px;
    margin-left: calc(-405px / 2);
    border-radius: 20px;
    background-color: #fff;
    font-size: 25px;
    font-weight: 600;
    box-shadow: 1px 7px 7px 8px #00000033;
  }
}
.ant-input-affix-wrapper .ant-input-suffix {
  margin-right: 5px;
}

.account-modal {
  .ant-modal-content {
    @apply flex flex-col;
    width: 570px;
    min-height: 810px;
    padding: 35px 75px 50px 75px;
    .ant-modal-body {
      @apply flex-1 flex flex-col;
      .ant-form {
        @apply mt-7.5 flex flex-col flex-grow;
        &.no-margin {
          margin-top: 0;
        }
        /* height: 520px; */
      }
    }
  }
}

.tab-buttons {
  @apply flex justify-between items-center gap-[5px];
  .ant-btn {
    @apply h-[45px] rounded-4xl flex-1 !text-base !p-0;
    border: none;
    box-shadow: 1px 4px 3px 0 rgba(0, 0, 0, 0.1);
    &.ant-btn-default {
      color: #808080 !important;
      background: rgba(230, 230, 230, 0.9);
    }
  }
}

.user-id {
  @apply flex flex-col items-center justify-center;
  height: 500px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.75);
  dl {
    @apply flex flex-col items-center justify-center  gap-2.5;
    dt {
      @apply font-semibold;
      font-size: 25px;
    }
    dd {
      @apply text-base;
    }
  }
}
.bottom-msg {
  @apply flex items-center gap-1 justify-center mt-2 min-h-6;
  font-size: 15px;
  .ant-btn.ant-btn-text {
    @apply p-0 h-auto;
    font-size: 15px;
    color: #363636;
  }
}
.code-group {
  @apply relative;
  .ant-form-item-control-input {
    @apply pr-[140px];
  }
}

.text-reset {
  @apply text-center text-2xl font-semibold;
}

.code-restart,
.code-restart * {
  @apply text-center mt-1 text-black;
  font-size: 13px;
}

.agree-con {
  li {
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .ant-checkbox-label {
    color: #000 !important;
  }
}

.agree-box {
  box-sizing: border-box;
  padding: 20px 10px 20px 20px;
  height: 584px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  .box-wrap {
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
    padding-right: 10px;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: #757575;
      border-radius: 2px;
    }
  }
  h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  h4 {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
