/* Login Page */
.login-page {
  @apply min-h-screen flex w-full h-full relative;
}
.login-movie {
  @apply absolute top-0 left-0 w-full h-full;
  background: url('/videos/bg-movie.png') no-repeat center center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  video {
    @apply w-full h-full object-cover;
  }
}
.login-wrap {
  @apply w-full h-dvh relative flex items-center justify-center gap-[105px];
  width: 1920px;
  margin: 0 auto;
  .login-content {
    @apply text-white font-bold flex flex-col gap-6;
    width: 985px;
    padding-bottom: 50px;
    h1 {
      font-family: 'Barlow';
      font-weight: 300;
      font-size: 90px;
      line-height: 120%;
      text-shadow: 0px 5px 3px 0px #00000080;
    }
    p {
      font-size: 28px;
      font-weight: 400;
      line-height: 110%;
      text-shadow: 0px 3px 2px 0px #00000080;
    }
  }
  .login-modal-content {
    position: relative;
    height: 630px;
    width: 570px;
    padding: 60px 75px 50px 75px;
    h2 {
      @apply h-11 font-bold;
      font-size: 32px;
      line-height: 110%;
    }
    .text {
      @apply text-lg font-semibold mb-6;
    }
  }
  .login-footer {
    @apply absolute flex justify-between items-center bottom-0 left-0 w-full px-25 py-10 text-white font-medium text-xs;
    p {
      line-height: 160%;
    }
  }
  .sns-login {
    @apply flex flex-col items-center justify-center gap-2 mt-7;
    p {
      @apply font-semibold;
    }
  }
  .email-signup {
    @apply flex justify-center mt-5;
    button {
      @apply flex items-center justify-center h-[25px] px-7.5;
      border: 1px solid #000;
      font-size: 15px;
    }
  }
  .customer-service {
    @apply flex justify-center mt-5;
    font-size: 13px;
  }
  .ant-btn.login-button {
    @apply rounded-4xl h-[50px] w-full text-lg mt-6 font-semibold;
    background-color: #262626;
  }
  .login-options {
    @apply flex items-center justify-between;
    .remember-checkbox {
      label {
        font-size: 15px;
      }
      .ant-checkbox-label {
        padding: 0 5px !important;
      }
    }
    .forgot-password {
      button {
        font-size: 15px;
      }
    }
  }
  .sns-buttons {
    @apply flex items-center justify-center gap-5;
    & > button {
      @apply relative;
      span {
        @apply absolute hidden;
        font-size: 15px;
        right: 12px;
        top: -5px;
        z-index: 1;
        color: #fff;
        img {
          max-width: 80px !important;
        }
      }
      &.last-login {
        span {
          display: block;
        }
      }
    }
  }
  .join-success {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: -60px;
    width: 405px;
    height: 96px;
    margin-left: calc(-405px / 2);
    border-radius: 20px;
    background-color: #fff;
    font-size: 25px;
    font-weight: 600;
    box-shadow: 1px 7px 7px 8px #00000033;
  }
}
.ant-input-affix-wrapper .ant-input-suffix {
  margin-right: 5px;
}

.account-modal {
  .ant-modal-content {
    @apply flex flex-col;
    width: 570px;
    min-height: 810px;
    padding: 35px 75px 50px 75px;
    .ant-modal-body {
      @apply flex-1 flex flex-col;
      .ant-form {
        @apply mt-7.5 flex flex-col flex-grow;
        &.no-margin {
          margin-top: 0;
        }
        /* height: 520px; */
      }
    }
  }
}

.tab-buttons {
  @apply flex justify-between items-center gap-[5px];
  .ant-btn {
    @apply h-[45px] rounded-4xl flex-1 !text-base !p-0;
    border: none;
    box-shadow: 1px 4px 3px 0 rgba(0, 0, 0, 0.1);
    &.ant-btn-default {
      color: #808080 !important;
      background: rgba(230, 230, 230, 0.9);
    }
  }
}

.user-id {
  @apply flex flex-col items-center justify-center;
  height: 500px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.75);
  dl {
    @apply flex flex-col items-center justify-center  gap-2.5;
    dt {
      @apply font-semibold;
      font-size: 25px;
    }
    dd {
      @apply text-base;
    }
  }
}
.bottom-msg {
  @apply flex items-center gap-1 justify-center mt-2 min-h-6;
  font-size: 15px;
  .ant-btn.ant-btn-text {
    @apply p-0 h-auto;
    font-size: 15px;
    color: #363636;
  }
}
.code-group {
  @apply relative;
  .ant-form-item-control-input {
    @apply pr-[140px];
  }
}

.text-reset {
  @apply text-center text-2xl font-semibold;
}

.code-restart,
.code-restart * {
  @apply text-center text-black ml-1;
  margin-top: 2px;
  font-size: 13px;
}

.agree-con {
  li {
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .ant-checkbox-label {
    color: #000 !important;
    font-weight: 400;
  }
}

.agree-box {
  box-sizing: border-box;
  padding: 20px 10px 20px 20px;
  height: 584px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  .box-wrap {
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
    padding-right: 10px;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: #757575;
      border-radius: 2px;
    }
  }
  h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  h4 {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

/* Dashboard Page */
.dashboard-page {
  @apply min-h-screen flex w-full h-full relative flex-col text-white;
}
.dashboard-movie {
  @apply absolute top-0 left-0 w-full h-full pointer-events-none;
  video,
  img {
    @apply w-full h-full object-cover;
  }
}
.header {
  @apply relative text-white;
  .header-inner {
    @apply flex items-center justify-between;
    width: 1920px;
    padding: 50px 70px 0 80px;
    margin: 0 auto;
    .logo-wrap {
      @apply flex flex-col gap-1;
      h1 {
        @apply font-bold;
        font-size: 32px;
        line-height: 110%;
      }
      p {
        /* subpixel-antialiased */
        @apply font-light;
        font-size: 16.5px;
      }
    }
    .nav-menu {
      @apply flex items-center justify-center;

      gap: 70px;
      .nav-item {
        @apply font-semibold text-white py-1.5 rounded-none;
        opacity: 0.85;
        font-size: 19px;
        border-bottom: 3px solid transparent;
        &:hover {
          @apply font-bold;
          opacity: 1;
          border-bottom: 3px solid #fff;
        }
        &.active {
          @apply font-bold;
          border-bottom: 3px solid #fff;
          opacity: 1;
        }
      }
    }
  }
}

.dashboard-content {
  @apply flex justify-between relative z-10;
  width: 1920px;
  margin: 0 auto;
  padding: 108px 70px 0 70px;
  .contents-left {
    @apply flex flex-col gap-4;
    button {
      @apply text-black;

      border: 1px solid transparent;
      width: 300px;
      height: 175px;
      padding: 12px 13px 15px 13px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      border-radius: 20px;
      transition: all 0.1s ease;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(235, 235, 235, 0.24) 63.29%,
        rgba(255, 255, 255, 0.4) 99.38%
      );
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      &:hover {
        border: 1px solid #09deb3;
        background: rgba(255, 255, 255, 0.9);
        box-shadow:
          0 0 5px 1px rgba(9, 222, 179, 0.4),
          0 0 17px 2px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        .live-video {
          background: rgba(230, 230, 230, 0.9);
        }
      }
      &.active {
        border: none;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 20%, #777 100%);
        background-blend-mode: multiply;
        box-shadow: 0 0 17px 2px rgba(0, 0, 0, 0.1);
        color: #fff;
        &:before,
        &:after {
          display: none;
        }
        .btn-header {
          .ico-arrow {
            background: url('/icons/ico-btn-right-w.svg') no-repeat center center;
          }
        }
        .weather-text {
          dl {
            dt {
              &:after {
                background-color: #fff;
              }
            }
          }
        }
      }
      &.weather-btn {
        height: 206px;
      }
      .btn-header {
        @apply flex items-center justify-between;
        height: 26px;
        padding-left: 5px;
        p {
          @apply font-semibold flex items-center;
          gap: 5px;
          font-size: 16px;
          span {
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            width: 13px;
            height: 13px;
            &.ico-ok {
              background-color: #09deb3;
            }
          }
        }
        .ico-arrow {
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url('/icons/ico-btn-right.svg') no-repeat center center;
          background-size: 100% 100%;
        }
      }
    }
  }
  .contents-right {
    @apply flex flex-col;
  }
}

.weather-info {
  @apply flex items-center flex-grow;
  padding: 14px 7px 0 0;
  .weather-text {
    @apply flex-grow;
    p {
      @apply font-semibold flex justify-center;
      font-size: 80px;
      letter-spacing: -1.6px;
      line-height: normal;

      span {
        font-size: 50px;
        margin-top: 6px;
      }
    }
    dl {
      @apply flex justify-center items-center;
      margin-top: 3px;
      font-size: 15px;
      gap: 5px;
      line-height: 160%;
      dt {
        @apply font-semibold flex;
        white-space: nowrap;
        &:after {
          content: '';
          display: inline-flex;
          margin-left: 5px;
          margin-top: 4px;

          width: 1px;
          height: 16px;
          background-color: #757575;
        }
      }
      dd {
        white-space: nowrap;
        b {
          font-weight: 600;
        }
      }
    }
  }
}
.dashboard-btn-content {
  @apply flex gap-1 pt-5 justify-center;
  dl {
    @apply flex flex-col items-center justify-center gap-2.5 flex-grow;
    dt {
      @apply font-medium flex items-center leading-none text-sm;

      height: 23px;
    }
    dd {
      @apply leading-none;
      .live-video {
        @apply flex items-center justify-center bg-white h-5 text-xs font-medium;
        border-radius: 5px;
        padding: 0 5px;
      }
    }
  }
}

.contents-right {
  @apply flex flex-col gap-[15px];
  button {
    @apply flex text-black font-medium;
    line-height: 110%;
    font-size: 15px;
    padding: 13px 13px 12px 13px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    flex-shrink: 0;
    width: 98px;
    height: 98px;
    border-radius: 20px;
    background:
      linear-gradient(0deg, rgba(226, 226, 226, 0.1) 0%, rgba(226, 226, 226, 0.1) 100%),
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(235, 235, 235, 0.16) 75.01%,
        rgba(255, 255, 255, 0.8) 99.38%
      );
    background-blend-mode: multiply, normal;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5) inset;
    backdrop-filter: blur(5px);
  }
}

.content-modal-wrap {
  pointer-events: none;
}

.content-modal-wrap .ant-modal {
  pointer-events: auto;
}

.content-modal {
  .ant-btn {
    border: 1px solid #757575;

    &.ant-btn-lg {
      @apply rounded-4xl h-[45px] text-lg font-normal w-auto min-w-20;
      font-size: 15px;
    }
    &:hover {
      border: 1px solid #757575 !important;
      color: #000 !important;
    }
  }
}
.weather-info-wrap {
  @apply flex flex-col flex-grow;
  .weather-info-header {
    @apply flex items-center justify-between;
    height: 160px;
    padding: 70px 100px 0 80px;
    .header-left {
      @apply flex items-center gap-8;
      font-size: 19px;
      .header-time {
        @apply font-semibold flex items-center justify-between gap-4;
        border-radius: 50px;
        background: #fff;
        padding: 5px 10px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
        height: 33px;
        width: 135px;
      }
      .header-location {
        @apply font-semibold;
      }
    }
  }
  .header-right {
    @apply flex items-center justify-center;
    font-size: 100px;
    font-weight: 600;
    line-height: normal;
    img {
      margin-right: 7px;
    }
    span {
      @apply self-start mt-3;
      font-size: 60px;
    }
  }
  .weather-info-summary {
    @apply flex items-center justify-between;
    margin: 33px 80px 0 80px;
    height: 36px;
    padding: 0 80px;
    ul {
      @apply flex items-center gap-2.5;
      li {
        @apply flex items-center gap-1 font-medium;
        b {
          @apply text-lg font-bold;
          &.good {
            color: #09deb3;
          }
          &.bad {
            color: #e46962;
          }
        }
      }
    }
  }
  .weather-info-detail {
    @apply grid grid-cols-4 items-center justify-between;
    margin: 7px 80px 0 80px;
    gap: 5px;
    dl {
      @apply flex items-center justify-center;
      height: 65px;
      gap: 7px;
      dt {
        @apply font-medium;
      }
      dd {
        @apply flex items-center justify-center gap-0.5;
        font-size: 37px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.37px;
        span {
          font-size: 18px;
          font-weight: 600;
          margin-top: 10px;
        }
      }
    }
  }
}

.white-box {
  border-radius: 10px;
  border: 2px solid
    radial-gradient(
      267.48% 141.42% at 0% 0%,
      #fff 0%,
      rgba(174, 174, 174, 0) 25.48%,
      rgba(226, 226, 226, 0.2) 76.44%,
      rgba(255, 255, 255, 0.8) 100%
    );
  background: #fff;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

.weather-info-slider {
  @apply flex flex-col;
  margin-top: 56px;
  .slider-tab {
    @apply flex items-center;
    gap: 5px;
    padding: 0 80px;
    button {
      @apply flex items-center justify-center;
      width: 55px;
      height: 30px;
      border-radius: 50px;
      background: #fff;
      font-size: 15px;
      &.active {
        background: #262626;
        color: #fff;
        font-weight: 600;
      }
    }
  }
  .slider-wrap {
    margin-top: 23px;
    height: 195px;
  }
  .slider-content {
    display: none;
    height: 195px;
    padding: 0px 82px;
    position: relative;
    &.active {
      @apply flex;
    }

    .slider-arrow {
      @apply text-3xl text-black;
      width: 36px;
      height: 180px;
      border-radius: 999px;
      /* border: 1px solid rgba(255, 255, 255, 0.3); */
      /* background: rgba(255, 255, 255, 0.35); */
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      cursor: pointer;
      transition: background-color 0.2s ease;
      &:hover {
        /* background: rgba(255, 255, 255, 0.65); */
      }
      &.weather-slider-prev {
        left: 55px;
      }
      &.weather-slider-next {
        right: 55px;
      }
    }

    .swiper {
      width: 100%;
      background: none;
      padding: 0 10px;
    }

    .slider-card {
      @apply flex flex-col items-center justify-center gap-1 text-center;
      border-radius: 10px;
      height: 180px;
      background: rgba(226, 226, 226, 0.8);
      position: relative;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      &.glass {
        &::before,
        &::after {
          border-radius: 10px;
        }
      }
      .time {
        font-size: 15px;
        font-weight: 500;
      }
      .icon {
        @apply flex items-center flex-col justify-center;
        font-weight: 500;
        line-height: 160%;
      }
      .temp {
        font-size: 23px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    .swiper-slide-active .slider-card {
      background: #fff;
    }
  }
}
.update-time {
  @apply flex items-center justify-end;
  gap: 10px;
  padding: 0 80px;
  li {
    font-size: 15px;
  }
}
