.filter-block {
  @apply bg-white rounded-lg p-4 mt-3.5;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  .filter-header {
    @apply md:hidden flex items-center justify-between h-15 px-5 text-xl font-semibold;
    border-bottom: 1px solid #e0e0e0;
  }
  .filter-form {
    @apply justify-between flex flex-col md:flex-row;
  }
  .filter-submit {
    @apply flex items-center gap-2;
    .btn-reset {
      @apply w-11 h-11 px-0 min-w-0 md:hidden flex-none rounded-lg;
    }
  }
}

/* form 스타일 */
.ant-form-item {
  margin-bottom: 0px;
  margin-top: 2px;
}
/* .ant-input,
.ant-input-password,
.ant-picker,
.ant-select-selector {
  padding: 5px 14px;
  border-color: #c7cdd1 !important;
  &:hover {
    border-color: #919ba3 !important;
  }
  &:focus {
    border-color: #171a1c !important;
    box-shadow: none !important;
    outline: none !important;
  }
} */

/* Input Password 내부 input 요소 포커스 제거 */
.ant-input-password-focused,
.ant-input-affix-wrapper-focused,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper:focus-within {
  border-color: #171a1c !important;
  box-shadow: none !important;
  outline: none !important;
}

/* DatePicker 포커스 제거 */
.ant-picker-focused {
  border-color: #171a1c !important;
  box-shadow: none !important;
  outline: none !important;
}

.ant-picker-input {
  & > input:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.ant-select {
  height: 34px;
  .ant-select-arrow {
    @apply flex items-center justify-center w-5 h-5 mt-0 -translate-y-1/2;
    background: url('/icons/ico-select-arrow.svg') no-repeat center center;
    span {
      display: none;
    }
  }
  &:hover {
    .ant-select-selector {
      border-color: #919ba3 !important;
    }
  }
  .ant-select-selector {
    padding: 5px 14px !important;
    transition: none !important;
    border: 1px solid #c7cdd1 !important;
  }
  &.ant-select-focused {
    .ant-select-selector {
      border-color: #171a1c !important;
      box-shadow: none !important;
      outline: none !important;
    }
    .ant-select-arrow {
    }
  }
  .ant-select-selection-item {
    @apply text-sm;
  }
}

.ant-form-item-label.ant-form-item-label {
  padding-bottom: 4px;
}

.ant-form-item-label > label {
  font-size: 14px;
  font-weight: 600;
  color: #171a1c !important;
  height: auto;
  padding-left: 6px;
}

.ant-input.ant-input,
.ant-input-number.ant-input-number,
.ant-picker.ant-picker,
.ant-select-selector.ant-select-selector {
  /* border-radius: 4px; */
  border-color: #c7cdd1;
  transition: border-color 0.2s;
  &:disabled {
    border-color: #919ba3 !important;
    background-color: #f4f5f6;
    color: #171a1c;
  }
}

.ant-input.ant-input:hover,
.ant-input-number.ant-input-number:hover,
.ant-picker.ant-picker:hover,
.ant-select:hover .ant-select-selector.ant-select-selector {
  border-color: #919ba3;
}

.ant-input.ant-input:focus,
.ant-input-number.ant-input-number:focus,
.ant-picker.ant-picker:focus,
.ant-select-focused .ant-select-selector.ant-select-selector {
  border-color: #171a1c;
  box-shadow: 0 0 0 2px rgba(23, 26, 28, 0.1);
}

/* 모달 내부 텍스트 영역 */
.ant-input-textarea textarea.ant-input {
  border-radius: 4px;
  border-color: #c7cdd1;
  transition: border-color 0.2s;
}

.ant-input-textarea textarea.ant-input:hover {
  border-color: #919ba3;
}

.ant-input-textarea textarea.ant-input:focus {
  border-color: #171a1c;
  box-shadow: 0 0 0 2px rgba(23, 26, 28, 0.1);
}

/* Error 상태 스타일 */
.ant-form-item-has-error {
  .ant-input,
  .ant-input-password,
  .ant-picker,
  .ant-select-selector {
    border-color: #ff4d4f !important;
    &:hover {
      border-color: #ff4d4f !important;
    }
    &:focus {
      border-color: #ff4d4f !important;
      box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.1) !important;
    }
  }

  /* Input Password 포커스 */
  .ant-input-password-focused,
  .ant-input-affix-wrapper-focused,
  .ant-input-affix-wrapper:focus,
  .ant-input-affix-wrapper:focus-within {
    border-color: #ff4d4f !important;
    box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.1) !important;
  }

  /* DatePicker 포커스 */
  .ant-picker-focused {
    border-color: #ff4d4f !important;
    box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.1) !important;
  }

  /* Select 포커스 */
  .ant-select-focused .ant-select-selector {
    border-color: #ff4d4f !important;
    box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.1) !important;
  }

  /* 에러 메시지 스타일 */
  /* .ant-form-item-explain-error {
    @apply ;
  } */
}
.ant-form-item .ant-form-item-explain,
.ant-form-item .ant-form-item-extra {
  @apply flex items-center !px-4 !text-xs !mt-1;
  color: #363636;
  letter-spacing: -0.5px !important;
}
.ant-form-item .ant-form-item-explain {
  color: #363636;
  margin-top: 4px !important;
  padding: 0 16px !important;
  font-size: 12px !important;
  .ant-form-item-explain-error {
    color: #f00;
  }
}

/* Warning 상태 스타일 */
.ant-form-item-has-warning {
  .ant-input,
  .ant-input-password,
  .ant-picker,
  .ant-select-selector {
    border-color: #faad14 !important;
    &:hover {
      border-color: #faad14 !important;
    }
    &:focus {
      border-color: #faad14 !important;
      box-shadow: 0 0 0 2px rgba(250, 173, 20, 0.1) !important;
    }
  }

  .ant-form-item-explain-warning {
    color: #faad14;
    font-size: 13px;
    margin-top: 4px;
  }
}

/* 모달 내부 라디오/체크박스 */
.ant-radio-wrapper.ant-radio-wrapper,
.ant-checkbox-wrapper.ant-checkbox-wrapper {
  font-size: 14px;
  color: #353c40;
}

.ant-radio-checked .ant-radio-inner.ant-radio-inner,
.ant-checkbox-checked .ant-checkbox-inner.ant-checkbox-inner {
  background-color: #171a1c;
  border-color: #171a1c;
}
/* Select 드롭다운 옵션 스타일 */
.ant-select-dropdown {
  @apply rounded-md shadow-lg p-0;
  border: 1px solid #171a1c;

  .ant-select-item {
    @apply p-0 text-sm h-9 flex items-center px-2.5 rounded-none;
    color: #171a1c;
    &:hover {
      background: rgba(208, 231, 247, 0.5) !important;
    }

    &.ant-select-item-option-selected {
      @apply bg-white font-medium;
    }

    &.ant-select-item-option-active {
      @apply bg-gray-50;
    }
  }
}

.ant-form-item .ant-form-item-control-input {
  min-height: 0;
}
.ant-checkbox-label {
  color: #353c40 !important;
  font-weight: 500;
}
.ant-checkbox-wrapper {
}

.ant-checkbox .ant-checkbox-inner {
  border-color: #5a6670 !important;
}
.ant-checkbox-wrapper:hover input[type='checkbox'] + .ant-checkbox-inner {
  background-color: #353c40 !important;
  border-color: #353c40 !important;
}
.ant-radio-wrapper {
  margin-inline-end: 20px;
}

/* 토글 스위치 커스터마이징 */
.ant-switch {
  background-color: #d9d9d9 !important;
  border: none !important;
}

.ant-switch.ant-switch-checked {
  background-color: #00bd24 !important; /* 초록색 */
}

/* 토글 스위치 호버 효과 */
.ant-switch:hover:not(.ant-switch-disabled) {
  background-color: #bfbfbf !important;
}

.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  background-color: #73d13d !important;
}

.form-block-container {
  @apply grid grid-cols-4 gap-5 items-start pb-10;
  min-height: 412px;
}

.form-block {
  @apply rounded-lg overflow-hidden transition-all duration-300;
  border: 1px solid #c7cdd1;
}

.form-block.active {
  @apply h-full;
  .form-block-title {
    background-color: #e1e4e7;
    border-bottom: 1px solid #c7cdd1;
  }
  .form-block-content {
    @apply flex;
  }
}

.form-block-title {
  @apply flex items-center justify-between h-9 px-3 font-semibold rounded-b-lg;
  color: #171a1c;
  background-color: #f4f5f6;
}

.form-block-content {
  @apply text-sm text-gray-600 p-3 flex flex-col gap-3 hidden;
  .ant-form-item-row {
    @apply flex items-center justify-between w-full;
    .ant-form-item-control {
      @apply !w-30 flex-none;
    }
    .ant-form-item-label {
      @apply flex-shrink-0;
      padding: 0;
      label {
        padding: 0;
        font-weight: 500;
        &:after {
          display: none !important;
        }
      }
    }
  }
}

/* Login Page */
.login-input {
  @apply h-[65px];
  .ant-form-item-control-input-content {
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.8);
  }
  .ant-input-affix-wrapper {
    @apply h-[45px];
  }
  .ant-form-item-control-input-content > .ant-input,
  .ant-form-item-control-input-content .ant-input-affix-wrapper {
    border-radius: 25px;
    background: rgba(255, 255, 255, 0);
    color: #575757;
    font-weight: 400;
    font-size: 16px;
    padding-left: 15px;
    box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.2) !important;
    input {
      background: transparent !important;
      padding-left: 0px !important;
      font-size: 16px !important;
      color: #575757;
      line-height: 35px;
      outline: none;
      border: none;
      &::placeholder {
        color: #575757;
      }
    }
    &.ant-input-affix-wrapper-focused {
      color: #282828 !important;
      input {
        color: #282828 !important;
      }
    }
  }
  :where(.css-dev-only-do-not-override-1utvcnp).ant-input-outlined:hover {
    border: 1px solid #000;
  }
  :where(.css-dev-only-do-not-override-1utvcnp).ant-input-outlined.ant-input-status-error:not(
      .ant-input-disabled
    ):hover {
    background: transparent;
  }
  :where(.css-dev-only-do-not-override-1utvcnp).ant-input-outlined.ant-input-status-error:not(
      .ant-input-disabled
    ):focus,
  :where(.css-dev-only-do-not-override-1utvcnp).ant-input-outlined.ant-input-status-error:not(
      .ant-input-disabled
    ):focus-within {
    background: transparent;
  }
  &.id-input {
    .ant-form-item-control-input-content {
      background-image: url('/icons/ico-id.svg');
      background-repeat: no-repeat;
      background-position: 13px center;
    }
    .ant-form-item-control-input-content > .ant-input,
    .ant-form-item-control-input-content > .ant-input-affix-wrapper {
      padding-left: 50px;
    }
  }

  &.pw-input {
    .ant-form-item-control-input-content {
      background-image: url('/icons/ico-pw.svg');
      background-repeat: no-repeat;
      background-position: 13px center;
    }
    .ant-form-item-control-input-content > .ant-input,
    .ant-form-item-control-input-content > .ant-input-affix-wrapper {
      padding-left: 50px;
    }
  }
  .ant-form-item-control-input-content .ant-input-affix-wrapper-disabled {
    background-color: rgba(204, 204, 204, 0.8) !important;
    border-color: #fff !important;
    background-image: url('/icons/ico-success.svg');
    background-repeat: no-repeat;
    background-position: right 13px center;
    transition: none;
  }
  .ant-form-item-control-input-content .ant-input-affix-wrapper-disabled.no-icon {
    background-image: none;
  }
  .err-msg {
    color: #ff0000;
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0 0 15px;
  }
}

.ant-btn.ant-btn-link {
  @apply text-sm p-0;
  color: #363636;
  &:hover {
    color: #171a1c !important;
  }
}
.ant-input-outlined:hover {
  border-color: #000 !important;
}

.ant-input.input-content {
  @apply text-base;
  height: 45px;
  border-radius: 25px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.2);
  &::placeholder {
    color: #787878;
  }
  &.input-search {
    padding-left: 50px;
    background-image: url('/icons/ico-search.svg');
    background-repeat: no-repeat;
    background-position: 13px center;
  }
}
input:-webkit-autofill {
  -webkit-text-fill-color: #171a1c !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: transparent !important;
  border: none !important;
}
input[type='text'].bbs-form {
  @apply text-xl;
  height: 50px;
  border-radius: 23px;
  border: 1px solid #fff;
  padding: 0 15px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2) inset;
  &::placeholder {
    color: #000;
  }
}
textarea.bbs-form {
  @apply text-base;
  border-radius: 10px;
  background: #fff;
  padding: 15px 25px;
  border: none;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2) inset;
  height: 335px;
  resize: none !important;
  &:focus {
    border: none !important;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2) inset !important;
  }
  &::placeholder {
    color: #000;
  }
}
.ant-picker.ant-picker-range.range-picker {
  width: 100%;
  height: 26px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 15px;
  border: 1px solid #757575;
  .ant-picker-input {
    width: 75px;
    input {
      font-size: 13px;
      font-weight: 400;
    }
  }
  .ant-picker-range-separator {
    padding: 0;
    padding-right: 5px;
  }
}
.ant-picker-content {
  .ant-picker-cell-range-start,
  .ant-picker-cell-range-end {
    .ant-picker-cell-inner {
      background-color: #000 !important;
    }
  }

  .ant-picker-cell-in-view.ant-picker-cell-in-range:not(.ant-picker-cell-disabled):before,
  .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-disabled):before,
  .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-disabled):before {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .ant-picker-cell-today .ant-picker-cell-inner::before {
    border: 1px solid #000 !important;
  }
}
