/* 모달 커스텀 스타일 */
/* .ant-modal-root를 상위 선택자로 추가하여 구체성 높임 */

/* 모달 래퍼 */
.ant-modal-root.ant-modal-root {
  font-family: 'Pretendard', 'Inter', sans-serif;
}

/* 모달 마스크 (배경 오버레이) */
.ant-modal-root .ant-modal-mask.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(5px); */
  pointer-events: auto;
  /* background: none; */
}

/* 모달 컨테이너 */
.ant-modal-root .ant-modal-wrap {
  min-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* pointer-events: none; */
}

/* 모달 */
.ant-modal-root .ant-modal {
  top: 0;
  padding-bottom: 0;
}
.ant-modal .ant-modal-content {
  padding: 20px;
}
.ant-modal-content {
  border-radius: 50px !important;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.42) 0%,
    rgba(235, 235, 235, 0.25) 63.29%,
    rgba(255, 255, 255, 0.42) 99.38%
  ) !important;
  box-shadow: 0 0 17px 2px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}
.ant-modal-content::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 2px;
  background: radial-gradient(
    267.48% 141.42% at 0% 0%,
    #fff 0%,
    rgba(174, 174, 174, 0) 25.48%,
    rgba(226, 226, 226, 0.2) 76.44%,
    rgba(255, 255, 255, 0.8) 100%
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
/* 모달 헤더 */
.ant-modal-root .ant-modal-header {
  display: flex;
  text-align: center;
  /* border-bottom: 1px solid #E1E4E7; */
  background: none;
  margin-bottom: 0;
}

/* 모달 닫기 버튼 */
.ant-modal-root .ant-modal-close.ant-modal-close {
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5a6670;
  transition: all 0.2s;
  display: none;
}

.ant-modal-root .ant-modal-close.ant-modal-close:hover {
  background: #e1e4e7;
  border-radius: 4px;
  color: #171a1c;
}

.ant-modal-root .ant-modal-close-x.ant-modal-close-x {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1;
}

/* 모달 바디 */
.ant-modal-root .ant-modal-body.ant-modal-body {
}

/* 모달 푸터 */
.ant-modal-root .ant-modal-footer.ant-modal-footer {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  .modal-btn-line {
    @apply w-full flex justify-center gap-2.5;
  }
}

.ant-modal-root .ant-modal-footer.ant-modal-footer .ant-btn {
  margin: 0;
}

/* 스크롤바 커스터마이징 */
.ant-modal-body::-webkit-scrollbar {
  width: 6px;
}

.ant-modal-body::-webkit-scrollbar-track {
  background: #f4f5f6;
  border-radius: 3px;
}

.ant-modal-body::-webkit-scrollbar-thumb {
  background: #c7cdd1;
  border-radius: 3px;
}

.ant-modal-body::-webkit-scrollbar-thumb:hover {
  background: #919ba3;
}

/* 모달 내부 Grid 레이아웃 */
.ant-modal-body .grid {
  display: grid;
}

.ant-modal-body .grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.modal-form-small {
  @apply px-3 pt-5 min-h-[470px];
}

.ant-modal-title {
  @apply w-full;
}
.modal-header-btn {
  @apply inline-flex w-fit cursor-pointer;
}
.content-modal {
  align-self: start;
  margin-top: 225px;
}
.content-modal .ant-modal-content {
  padding: 0;
  border-radius: 30px;
  overflow: hidden;
  height: 775px;
  width: 1180px;
  transform: translateX(100px);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.25);
}

.content-modal .ant-modal-body {
  padding: 0;
  height: 100%;
  position: relative;
  border-radius: 50px;
}

.content-modal__close {
  position: absolute;
  top: 25px;
  right: 30px;
  z-index: 10;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 50%;
  &:hover {
    background: #e1e4e7;
  }
}

.content-modal__body {
  @apply flex flex-col;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.modal-con-header {
  @apply flex;
  height: 45px;
  padding-right: 100px;
}
.modal-con-body {
  @apply flex flex-col mt-4 flex-grow;

  border-radius: 38px;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(15px);
}
.alert-modal {
  @apply !items-start;
  padding: 150px 0;
  pointer-events: none;
}
.alert-modal .ant-modal {
  width: auto !important;
  min-width: 0px !important;
  pointer-events: auto;
}
.alert-modal .ant-modal .ant-modal-content {
  @apply !bg-white;
  box-shadow: 1px 7px 7px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px !important;
  padding: 30px 50px;
  margin-left: 208px;
  .ant-modal-confirm-body-wrapper {
    @apply flex flex-col;
    &:before,
    &:after {
      display: none !important;
    }
  }
  .ant-modal-confirm-title {
    font-size: 25px;
    font-weight: 600;
    white-space: nowrap;
  }
  .ant-modal-confirm-btns {
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 10px;
    margin-top: 0;
    .ant-btn {
      margin: 0;
      margin-top: 10px;
    }
  }
  .anticon {
    margin-top: 6px;
    margin-right: 8px;
    &.anticon-exclamation-circle {
      color: #f00;
    }
  }
  .ant-modal-confirm-paragraph {
    gap: 0;
  }
}

.alert-modal .ant-modal .ant-modal-header {
}

.popup-default-wrap {
  align-items: flex-start !important;
  top: 180px !important;
  .ant-modal-content {
    margin-left: 78px;
  }
  /* margin-left: 78px; */
}
.ant-modal.popup-default {
  /* @apply bg-white; */
  .ant-modal-content {
    padding: 70px 50px 55px 50px;
    width: 570px;
    border-radius: 20px !important;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.9) !important;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.25);
    &::after,
    &::before {
      display: none;
    }
  }
  .ant-btn.ant-btn-primary {
    border-radius: 20px;
    font-size: 15px;
    box-shadow: none;
  }
  .ant-modal-close {
    display: flex;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 25px;
    right: 40px;

    color: #000;
  }
  .popup-btn-wrap {
    @apply flex justify-center gap-2.5;
    margin-top: 50px;
  }
  .default-popup-content {
    @apply flex flex-col;
    max-height: 500px;
    overflow-y: auto;
    h2 {
      font-size: 25px;
      font-weight: 600;
      text-align: center;
      line-height: 145%; /* 36.25px */
    }
    p {
      font-size: 22px;
      font-weight: 500;
      text-align: center;
    }
  }
}
